- name: Create temporary Maven settings.xml
  env:
    CENTRAL_USERNAME: ${{ secrets.CENTRAL_USERNAME }}
    CENTRAL_TOKEN: ${{ secrets.CENTRAL_TOKEN }}
  run: |
    mkdir -p ~/.m2
    {
      printf '<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 https://maven.apache.org/xsd/settings-1.0.0.xsd">\n'
      printf '  <servers>\n'
      printf '    <server>\n'
      printf '      <id>ossrh</id>\n'
      printf '      <username>${env.CENTRAL_USERNAME}</username>\n'
      printf '      <password>${env.CENTRAL_TOKEN}</password>\n'
      printf '    </server>\n'
      printf '  </servers>\n'
      printf '</settings>\n'
    } > ~/.m2/settings.xml